@use './colors' as color;
@use './animations' as animations;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.scroll {
    overflow: hidden;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    // font-family: "Cinzel", serif;
    font-family: "Raleway", sans-serif;
    font-size: 1.6rem;
    color: color.$white;
    background-color: color.$dark;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
    width: 100%;
}

.section__title {
    position: relative;
    margin: 0 auto 2em;
    width: fit-content;
    font-size: 3.2rem;
    font-weight: 200;
    color: color.$gold;
    &::before {
        position: absolute;
        bottom: -.1em;
        left: 0;
        width: 40px;
        height: 2px;
        content: '';
        background-color: color.$gold;
    }
    span {
        font-weight: 900;
    }
}

/* Blur */
.blur {
    display: none;
    position: fixed;
    z-index: 5;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(41, 41, 41, 0.6);
}

.blur.open {
    display: block;
}


//HEADER

.header {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 100vh;
    overflow: hidden;
    &__text {
        display: grid;
        justify-content: center;
        align-content: center;
        grid-row: 2 / 3;
        grid-column: 1 / 3;
        padding: 2em;
    }
    &__text-content {
        font-weight: 200;
    }
    &__img {
        position: relative;
        width: 100%;
        height: 100%;
        grid-row: 1 / 2;
        grid-column: 1 / 3;
        background-image: url('../assets/img/bitcoin-640.jpg');
        background-size: cover;
        background-position: center;
        filter: sepia();
    }
    &__shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .3);
    }
    &__arrow {
        display: none;
    }
    &__bg-icon-one,
    &__bg-icon-two {
        position: absolute;
        opacity: 0.05;
        z-index: -5;
    }
    &__bg-icon-one {
        bottom: 2em;
        right: -3em;
        width: 50%;
        animation: rotate-right 55s infinite linear;
    }
    &__bg-icon-two {
        display: none;
    }
}

// button HAMBURGER
.burger {
    position: absolute;
    top: 3em;
    left: 1em;
    // margin: 10px;
    padding: 15px 15px;
    border: 0;
    // border: none; ??
    background-color: transparent;
    // overflow: visible;
    cursor: pointer;
    // border: 1px solid red;
    transition: all 0.8 ease-in-out;
    transform: translateY(-50%);
    z-index: 50;
    &__box {
        position: relative;
        width: 40px;
        height: 24px;
        // display: inline-block;
        transition: transform 0.5s;
        display: block;
    }
    &__box:hover {
        transform: scale(1.1);
    }
}

.burger:hover {
    opacity: 0.7;
}

.burger.active:hover {
    opacity: 0.7;
}

.burger__inner {
    position: relative;
    display: block;
    top: 50%;
    margin-top: -2px;
    // z-index: 15;
}

.burger.active .burger__inner,
.burger.active .burger__inner::before,
.burger.active .burger__inner::after {
    background-color: color.$darker;
}

.burger__inner, 
.burger__inner::before, 
.burger__inner::after {
    position: absolute;
    width: 40px;
    height: 4px;
    background-color: color.$white;
    border: none;
    border-radius: 4px;
    transition: all 2.5 ease-in-out;
    z-index: 50;
}

.burger__inner::before, 
.burger__inner::after {
    content: "";
    display: block;
}

.burger__inner::before {
    top: -10px;
}

.burger__inner::after {
    bottom: -10px;
}

.burger--btn {
    .burger__inner {
        transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19),
         background-color 0s 0.075s linear;
    }
}


.burger--btn .burger__inner::before {
      transition: top 0.075s 0.075s ease-in,
       transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.burger--btn .burger__inner::after {
      transition: bottom 0.075s 0.075s ease-in,
       transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.burger--btn.active {
    .burger__inner {
        transform: rotate(90deg);
        background-color: transparent !important;
        transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1),
         background-color 0s 0.15s linear;
    }
}

.burger--btn.active {
    .burger__inner::before {
        top: 0;
        transform: rotate(-45deg);
        transition: top 0.075s 0.1s ease-out,
         transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
}

.burger--btn.active  {
    .burger__inner::after {
        bottom: 0;
        transform: rotate(45deg);
        transition: bottom 0.075s 0.1s ease-out,
         transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
}


.company-name {
    margin-bottom: 0.5em;
    font-family: "Cinzel", serif;
    font-size: 3rem;
    color: color.$gold;;
}

// navigacja
.nav {
    &-mobile {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: color.$white;
        transition: transform .3s;
        transform: translateX(-102%);
        z-index: 10;
        &.active {
            transform: translateX(0);
        }
    }
    &-desktop {
        display: none;
    }
    &__item {
        position: relative;
        display: inline-block;
        margin: 0.5em;
        padding: 0.5em;
        font-size: 2.3rem;
        color: color.$darker;
        text-decoration: none;
        text-transform: uppercase;
        transition: color .3s;
        &:hover {
            color: color.$gold;
        }
    }
}


// MAIN

// section CARDS
.cards {
    background-color: color.$darker;
    overflow: hidden;
    &__box {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        padding: 6em 2em;
        gap: 2em;
    }
    &__card {
        position: relative;
        display: grid;
        padding: 3em;
        justify-items: center;
        text-align: center;
        background-color: color.$dark;
        border: 1px solid transparent;
        border-radius: 8px;
        transition: background-color .3s, border .3s;
        z-index: 5;
        &:hover {
            background-color: color.$darker;
            border: 1px solid color.$gold;
            z-index: 1;
        }
        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            border: 1px solid color.$gold;
            border-radius: 8px;
            opacity: 0;
        }
        &:hover::before {
            animation: pulse 1s;
        }
        img {
            margin-bottom: 1em;
            width: 60px;
        }
        
    }
    &__title {
        margin-bottom: 0.6em;
        text-transform: uppercase;
    }
    &__card-one {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
    }
    &__card-two {
        grid-row: 2 / 3;
        grid-column: 1 / -1;
    }
    &__card-three {
        grid-row: 3 / 4;
        grid-column: 1 / -1;
    }
}


// section INFO
.info {
    position: relative;
    display: grid;
    // grid-template-areas:
    //     "title title title"
    //     "box box box"
    //     "box box box";
    padding: 6em 2em;
    &__box-img {
        width: 100%;
        filter: sepia();
    }
    &__box-title {
        margin: 0.3em 0;
        padding: 0 0.3em;
        font-size: 2.6rem;
        font-weight: 200;
        color: color.$gold;
    }
    &__box-text {
        margin-bottom: 0.5em;
        padding: 0 0.3em;
    }
    &__box-link {
        display: block;
        margin-bottom: 2em;
        padding-right: 0.5em;
        font-weight: bold;
        text-align: right;
        color: color.$gold;
        text-decoration: none;
        transition: color .3s;
        &:hover {
            color: color.$darkgold;
        }
    }
    &__bg-icon {
        display: none;
    }
}


// section PLANS
.plans {
    padding: 6em 2em;
    background-color: color.$darker;
    &__box {
        margin: 1em 0;
        padding: 2em 1em;
        text-align: center;
        border: 1px solid transparent;
        border-radius: 8px;
        background-color: color.$dark;
        transition: background-color .3s;
        cursor: pointer;
        &:hover {
            background-color: color.$darker;
            border: 1px solid color.$gold;
        }
    }
    &__item {
        margin: 1em 0;
    }
    &__item-icon {
        width: 50px;
    }
    &__item-name {
        margin-top: 0;
        margin-bottom: 1.5em;
        font-size: 1.8rem;
        color: color.$gold;
    }
}


// section NEWSLETTER
.newsletter {
    padding: 8em 0.2em;
    background-color: color.$red;
    text-align: center;
    &__text {
        margin-bottom: 1em;
        padding: 1em;
        font-size: 4rem;
        font-weight: 200;
    }
    &__input {
        margin-bottom: 1em;
        padding: 1em;
        width: 100%;
        background-color: color.$white;
        border: 1px solid transparent;
    }
    &__btn {
        padding: 1em;
        font-weight: bold;
        color: color.$gold;
        border: 1px solid color.$gold;
        background: none;
        cursor: pointer;
        transition: background-color .3s, color .3s;
        &:hover {
            color: color.$red;;
            background-color: color.$gold;
        }
    }
}


// section GALLERY
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    &__img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        &:nth-child(odd) {
            display: none;
        }
    }
}



// FOOTER
.footer {
    padding: 3em 1em;
    border-top: 1px solid color.$darker;
    &__bottom-text {
        padding: 2em;
        text-align: center;
    }
}

@import './small';
@import './medium';
@import './large';
